{% extends 'base.html' %} 

{% block title %} Lista de Cuatrimestres {% endblock title %} 

{% block content %}
<br>
<a 
  class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" 
  href="{% url 'career:quarter_create' %}">Nuevo Cuatri</a>
<br>
<table>
  <br>
  <thead>
    <tr>
      <th> ID </th> 
      <th> CUATRIMESTRE No. </th>
      <th> CUATRIMESTRE </th>
      <th> ACCIONES </th>
    </tr>
  </thead>
  <tbody>
    {% for quarter in quarters %}
    <tr>
      <td>{{quarter.quarter}}</td>
      <td>{{quarter.quarter}}</td>
      <td>{{quarter.quarter_name}}</td>
      <td><a href="{% url 'career:quarter_details' quarter.id %}">Detalles</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
